{% extends 'base.html' %}
{% block content %}
    <form action="", method="post">
        {{ form.hidden_tag() }}
        {{ form.password.label }}
        <br>
        <p>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}<span style="color:red, ">{{ Error }}</span>{% endfor %}
        </p>
        <br>
        {{ form.password2.label }}
        <br>
        <p>
            {{ form.password2(size=32) }}
            {% for error in form.password2.errors %}<span style="color:red, ">{{ Error }}</span>{% endfor %}
        </p>
        <br>
        {{ form.submit() }}
    </form>
{% endblock content %}
